<form action="/random/results">
  <div>
    <label for="min_input">Minimum</label>
    <input id="min_input" name="user_min" type="text">
  </div>

  <div>
    <label for="max_input">Maximum</label>
    <input id="max_input" name="user_max" type="text">
  </div>

  <button>
    Pick random number
  </button>
</form>
