<form action="/square_root/results">
  <div>
    <label for="user_number">Enter a number</label>
    <input id="user_number" name="user_number" type="text">
  </div>

  <button>
    Calculate square root
  </button>
</form>
